.skills_container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
}

.skills_card{
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-background);
    transition: all 0.3s ease-in-out;
}

.skills_card:hover{
    transform: translateY(-10px);
}

.skills_title{
    margin-bottom: 1rem;
}

.techlogo{
    font-size: 2.5rem;
    margin-left: 1rem;
    display: inline-block;
    margin-bottom: 1rem;
}


@media screen and (max-width: 480px) {
    .skills_container{
        display: inline-block;
    }
    .skills_card{
        margin-bottom: 2rem;
    }
}
